<div class="main-content-agile">
	<div class="wthree-pro">
		<h2>Login Now</h2>
	</div>
	<div class="sub-main-w3">
		<form action="/login" method="post">
			<input placeholder="Email" name="user-email" type="email" required="">
			<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
			<input placeholder="Password" name="user-pass" type="password" minlength="6" required="">
			<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
			<div class="rem-w3">
				<!-- <span class="check-w3"><input type="checkbox" />Remember Me</span> -->
				<a href="/forgot-pass">Forgot Password?</a><BR><BR>
				<a href="/register">Register New User!</a>
				<div class="clear"></div>
			</div>
			<div class="navbar-right social-icons">
				<ul>
					<li>
						<a href="/login/facebook" class="fa fa-facebook icon-border facebook"> </a>
					</li>
					<!-- <li>
						<a href="/login/twitter" class="fa fa-twitter icon-border twitter"> </a>
					</li> -->
					<li>
						<a href="/login/google" class="fa fa-google-plus icon-border googleplus"> </a>
					</li>
				</ul>
			</div>
			<input type="submit" value="Login">
		</form>
	</div>
</div>
