<nav>
	<a href="/">Home</a>
	<a href="/friends">Friends</a>
	<a href="/groups">Groups</a>
	<a href="/orders">Orders</a>
	<a href="/profile">{{user.name}}</a>
	<a href="/" onclick="document.cookie = 'token=;expires=Thu, 01 Jan 1970 00:00:00 GMT'">Logout</a>
	<div>
	    <div>
	        Notifications
	    </div>
	    <ul>
		{{#each orderRequests}}
	        <li>{{owner}} has invited you to his order <a href="/order/{{_id}}/accept">accept</a></li>
		{{/each}}
		</ul>
	    <div>
	        <a href="/notifications">View all notifications</a>
	    </div>
	</div>
</nav>
