<nav>
	<a href="/home">Home</a>
	<a href="/friends">Friends</a>
	<a href="/groups">Groups</a>
	<a href="/orders">Orders</a>
	<a href="/profile">\{{user.name}}</a>
	<a href="/">Logout</a>
	<div>
	    <div>
	        Notifications
	    </div>
	    <div>
	        \{{notifications}}
	    </div>
	    <div>
	        <a href="/notifications">View all notifications</a>
	    </div>
	</div>
</nav>
