<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta & Tag Words -->
	<title>Yala Notlob - Orders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
	<!-- Center Container -->
	<div class="center-container">

		<!-- Nav Bar -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">YALA NOTLOB</a>
		    </div>

				<!-- Left Side -->
		    <ul class="nav navbar-nav">
		      <li><a href="#">Home</a></li>
		      <li><a href="#">Friends</a></li>
		      <li><a href="#">Groups</a></li>
					<li class="active"><a href="#">Orders</a></li>
		    </ul>
				<!-- // Left Side -->

				<!-- Right Side -->
		    <ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> <span class="badge"> 10 </span></a></li>
					<li><a href="#"><img src="http://placehold.it/25x25" class="profile-image img-circle responsive"> Mohamed Khalil</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
				<!-- // Right Side -->

		  </div>
		</nav>
		<!-- // Nav Bar -->

		<!-- Add Item Label -->
		<div class="container">
			<h2><p class="text-left"><span class="label label-default">Add Item</span></p></h2>
	  </div>
		<!-- // Add Item Label -->

		<!-- Orders Details Container  -->
		<BR>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-primary-custom">
					  <div class="panel-heading">
					    <h3 class="panel-title">Orders Details</h3>
					  </div>

						<div class="panel-body fixed-panel">
							<!-- Orders Details Table -->
							<div class="table-responsive">
							  <table class="table table-bordered">
							    <thead>
							      <tr>
							        <th>Friend Name</th>
							        <th>Item</th>
							        <th>Amount</th>
							        <th>Price</th>
							        <th>Comment</th>
											<th>Action</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
										<tr>
							        <td>Mohamed Khalil</td>
							        <td>Fool</td>
							        <td>2</td>
							        <td>3</td>
											<td><p>Mesh 3ayz salata</p></td>
							        <td>
												<a href="#"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
							        </td>
							      </tr>
							    </tbody>
							  </table>
							</div>
							<!-- // Orders Details Table -->
					  </div>
					</div>
				</div>

				<!-- Orders Statistics Panel -->
				<div class="col-md-4">
					<div class="panel panel-primary-custom">
					  <div class="panel-heading">
					    <h3 class="panel-title">Orders Statistics</h3>
					  </div>
						<div class="panel-body fixed-panel">

							<!-- Invited Friends Label --><BR><BR><BR>
								<h3>
									<span class="label label-primary">20 Friends Invited</span>
									<a data-toggle="modal" href="#invitedFriendsModal"><span style="color:#337ab7" class="glyphicon glyphicon-eye-open"></span></a>
								</h3>
										<!-- Modal -->
										<div style="color: black" class="modal fade" id="invitedFriendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h3 class="modal-title" id="myModalLabel">Invited Friends</h3>
										      </div>
										      <div class="modal-body">
														<!-- Friends Container -->
															<div class="row">
																<!-- Friend Inside Modal -->
																<div class="col-md-4">
															    <div class="thumbnail">
																		<div class="caption">
																			<a href="#"><h4>Mohamed Khalil</h4></a>
																		</div>
															      <img src="http://placehold.it/100x100">
															    </div>
															  </div>
																<!-- //Friend Inside Modal -->
															</div>
														<!-- Friends Container -->
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>
							<!-- // Invited Friends Label --><BR>

							<!-- Joined Friends Label -->
								<h3>
									<span class="label label-success">15 Friends Joined</span>
									<a data-toggle="modal" href="#joinedFriendsModal"><span style="color:#5cb85c" class="glyphicon glyphicon-eye-open"></span></a>
								</h3>
										<!-- Modal -->
										<div style="color: black" class="modal fade" id="joinedFriendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h3 class="modal-title" id="myModalLabel">Joined Friends</h3>
										      </div>
										      <div class="modal-body">
														<!-- Friends Container -->
															<div class="row">
																<!-- Friend Inside Modal -->
																<div class="col-md-4">
															    <div class="thumbnail">
																		<div class="caption">
																			<a href="#"><h4>Mohamed Khalil</h4></a>
																		</div>
															      <img src="http://placehold.it/100x100">
															    </div>
															  </div>
																<!-- //Friend Inside Modal -->
															</div>
														<!-- Friends Container -->
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>
							<!-- // Joined Friends Label --><BR>

							<!-- Rejected Friends Label -->
								<h3>
									<span class="label label-danger">5 Friends Rejected</span>
									<a data-toggle="modal" href="#rejectedFriendsModal"><span style="color:#5cb85c" class="glyphicon glyphicon-eye-open"></span></a>
								</h3>
										<!-- Modal -->
										<div style="color: black" class="modal fade" id="rejectedFriendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h3 class="modal-title" id="myModalLabel">Rejected Friends</h3>
										      </div>
										      <div class="modal-body">
														<!-- Friends Container -->
															<div class="row">
																<!-- Friend Inside Modal -->
																<div class="col-md-4">
															    <div class="thumbnail">
																		<div class="caption">
																			<a href="#"><h4>Mohamed Khalil</h4></a>
																		</div>
															      <img src="http://placehold.it/100x100">
															    </div>
															  </div>
																<!-- //Friend Inside Modal -->
															</div>
														<!-- Friends Container -->
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>
							<!-- // Rejected Friends Label -->

					  </div>
					</div>
				</div>
				<!-- // Orders Statistics Panel -->
		</div>
	</div>
		<!-- // Orders Details Container -->

		<!-- Item Details -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary-custom">
					<div class="panel-heading">
						<h3 class="panel-title">Item Details</h3>
					</div>
					<div class="panel-body">
							<form class="form-inline">
								<h4>
								<div class="form-group">
									<label for="itemName">Item</label>
										<input type="text" class="form-control" id="itemName" placeholder="Item Name" required="">
								</div>
								<div class="form-group">
									<label for="amount">Amount</label>
										<input type="number" class="form-control" id="amount" required="">
								</div>
								<div class="form-group">
									<label for="price">Price</label>
										<input type="number" class="form-control" id="price" required="">
								</div>
								<div class="form-group">
									<label for="comment">Comment</label>
										<input type="text" class="form-control" id="comment" placeholder="Without Salad" required="">
								</div>
								<div class="form-group">
										<input type="submit" class="form-control btn btn-success" id="comment" value="Add">
								</div>
							</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- // Item Details -->

		<!-- Footer -->
		<div class="footer">
			<p>&copy; 2017 ITI INTAKE 37. All rights reserved | Design by <a href="https://www.facebook.com/groups/190513138041329/" target="_blank">Open Srouce Department</a></p>
		</div>
		<!--// Footer-->
	</div>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- // JS -->

</body>

</html>
