<div class="container">
	<h2><p class="text-left"><span class="label label-default">Change Image</span></p></h2>
</div>

<BR><div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary-custom">
				  <div class="panel-heading">
					<h3 class="panel-title">Change Image</h3>
				  </div>
				  <div class="panel-body fixed-panel">
						<h4>
							<form class="form-horizontal" id="order-new-form" method="post" enctype="multipart/form-data">
								<div class="form-group">
								<label for="menuImage" class="col-sm-2 control-label">New Image</label>
								<div class="col-sm-10">
								  <input type="file" class="form-control" id="menuImage" name="user-img" accept="image/*" required="">
								</div>
							  </div><BR><BR>
									<button type="submit" class="btn btn-success btn-lg" style="width: 100%;background:#7a7b7c">Upload</button>
								</form>
							  </div>
						</h4>
				  </div>
			</div>
	</div>
</div>
