{{> user/nav}}
<h1>Friends</h1>
<form method="post">
	<div>
			<ul>
			{{#each friends}}
					<li>
						<a href="/user/{{_id}}">{{name}}</a>
						<a href="/user/{{_id}}/delete">Delete</a>
				</li>
			{{/each}}
			</ul>
	</div>

	<div>
		<label>Add Friend</label>
		<input type="text" name="add-friend">
		<input type="submit" value="Add">
	</div>
</form>
\{{friends}}
