<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta & Tag Words -->
	<title>Yala Notlob - Friends</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
	<!-- Center Container -->
	<div class="center-container">

		<!-- Nav Bar -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">YALA NOTLOB</a>
		    </div>

				<!-- Left Side -->
		    <ul class="nav navbar-nav">
		      <li><a href="#">Home</a></li>
		      <li class="active"><a href="#">Friends</a></li>
		      <li><a href="#">Groups</a></li>
					<li><a href="#">Orders</a></li>
		    </ul>
				<!-- // Left Side -->

				<!-- Right Side -->
		    <ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> <span class="badge"> 10 </span></a></li>
					<li><a href="#"><img src="http://placehold.it/25x25" class="profile-image img-circle responsive"> Mohamed Khalil</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
				<!-- // Right Side -->

		  </div>
		</nav>
		<!-- // Nav Bar -->

		<!-- Friends Label -->
		<div class="container">
			<h2><p class="text-left"><span class="label label-default">Friends</span></p></h2>
	  </div>
		<!-- // Friends Label -->

		<!-- Friend Email -->
		<div class="container">
			<form class="form-inline">
			  <div>
				    <label for="friendEmail" style="color: white; font-size: 16px">Friend Email</label>
				    <input type="email" class="form-control" id="friendEmail" placeholder="Example: Eng.MhmdKhalil@gmail.com" required="">
				  	<button type="submit" class="btn btn-default">Add Friend</button>
				</div>
			</form>
		</div>
		<!-- // Friend Email -->

		<!-- Friends List Container  -->
		<BR><div class="container">
			<div class="row">
			<!-- Friends List -->
			<div class="col-md-12">
				<div class="panel panel-primary-custom">
				  <div class="panel-heading">
				    <h3 class="panel-title">Friends List</h3>
				  </div>
				  <div class="panel-body fixed-panel">
						<div class="row">
						  <div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
							<div class="col-md-2">
						    <div class="thumbnail">
									<div class="caption">
										<a href="#"><h4>Mohamed Khalil</h4></a>
									</div>
						      <img src="http://placehold.it/150x150">
						      <div class="caption">
						        <p><a href="#" class="btn btn-danger" role="button">Remove Friend</a>
						      </div>
						    </div>
						  </div>
						</div>
				  </div>
				</div>
				<!-- // Friends List -->
			</div>
		</div>
		<!-- // Friends List Container -->

		<!-- Footer -->
		<div class="footer">
			<p>&copy; 2017 ITI INTAKE 37. All rights reserved | Design by <a href="https://www.facebook.com/groups/190513138041329/" target="_blank">Open Srouce Department</a></p>
		</div>
		<!--// Footer-->
	</div>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- // JS -->

</body>

</html>
