{{> user/nav}}
<div>
    <h2>My Groups</h2>
    <form method="post">
        <div>
            <label>Your Group Name</label>
            <input type="text" name="add-group">
            <input type="submit" value="Add Group">
        </div>
    </form>
    {{#eachKey user.groups}}
    <div>
        <a href="/group/{{.}}">{{.}}</a>
		<a href="/group/{{.}}">Add Friend</a>
		<a href="/group/{{.}}/delete">Delete</a>
    </div>
    {{/eachKey}}
</div>
