{{> user/nav}}
<table>
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Price</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>\{{order.item}}</td>
			<td>\{{order.amount}}</td>
			<td>\{{order.price}}</td>
			<td>\{{order.comments}}</td>
		</tr>
	</tbody>
</table>
