<table>
	<thead>
		<tr>
			<th>Item</th>
			<th>Amount</th>
			<th>Price</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		{{#each orders}}
		<tr>
			<td>{{item}}</td>
			<td>{{amount}}</td>
			<td>{{price}}</td>
			<td>{{{comment}}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
