<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yala Notlob</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/css/font-awesome.css">
	<!-- web-fonts -->
	<!-- <link href="//fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,vietnamese" rel="stylesheet"> -->
	<script src="/assets/js/app.js" charset="utf-8"></script>
</head>

<body>
	<div data-vide-bg="/assets/video/social2">
		<div class="center-container">
			<!--header-->
			<div class="header-w3l">
				<h1>Welcome to Yala Notlob</h1>
			</div>
			<!--//header-->
			<div id="err-msg" style="color: white; background-color: #e66; padding: 7px; visibility: hidden">
				Wrong Data Entered
			</div>
			<script type="text/javascript">
			if (getParameterByName('err')) {
				document.getElementById('err-msg').style.visibility = "visible";
			}
			</script>
			<!--main-->
			{{{body}}}
			<!--//main-->
			<script type="text/javascript">
				document.getElementById('submitter').addEventListener('submit', function(e) {
					var pass = document.getElementsByName('user-pass');
					var passConf = document.getElementsByName('user-pass-conf');
					if (pass && passConf) {
						if (pass[0].value != passConf[0].value) {
							e.preventDefault();
							var errMsg = document.getElementById('err-msg');
							errMsg.innerHTML = "Passwords do not match"
							errMsg.style.visibility = "visible";
						}
					}
				});
			</script>
			<!--footer-->
			<div class="footer">
				<p>&copy; 2017 ITI INTAKE 37. All rights reserved | Design by <a href="https://www.facebook.com/groups/190513138041329/" target="_blank">Open Srouce Department</a></p>
			</div>
			<!--//footer-->
		</div>
	</div>
	<!-- js -->
	<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
	<script src="/assets/js/jquery.vide.min.js"></script>
	<!-- //js -->
</body>

</html>
