{{> guest/nav}}
<form method="post">
		<div>
				<label>Enter Your Email</label>
				<input type="email" name="user-email" placeholder="Enter Your Email">
		</div>
    <div>
        <label>Old Password</label>
        <input type="password" name="user-pass-old" placeholder="Old Password">
    </div>
    <div>
        <label>New Password</label>
        <input type="password" name="user-pass" placeholder="New Password">
    </div>
    <div>
        <label>Confirm New Password</label>
        <input type="password" name="user-pass-conf" placeholder="Confirm New Password">
    </div>
    <button type="submit">Send</button>
</form>
