<div class="main-content-agile">
    <div class="wthree-pro">
        <h2>Change Your Password</h2>
    </div>
    <div class="sub-main-w3">
        <form id="submitter" method="post">
            <!-- Email -->
            <input placeholder="Email" name="user-email" type="email" required="">
            <!-- <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span> -->
			<input placeholder="Old Password" name="user-pass-old" type="password" minlength="6" required="">
			<!-- <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span> -->
			<input placeholder="New Password" name="user-pass" type="password" minlength="6" required="">
			<!-- <span class="icon3"><i class="fa fa-unlock" aria-hidden="true"></i></span> -->
			<input placeholder="Confirm New Password" name="user-pass-conf" type="password" minlength="6" required="">
			<!-- <span class="icon4"><i class="fa fa-unlock" aria-hidden="true"></i></span> -->
            <div class="clear"></div><BR><BR><BR>
            <!-- <div class="navbar-right social-icons">
                <ul>
					<li>
						<a href="/login/facebook" class="fa fa-facebook icon-border facebook"> </a>
					</li>
					<li>
						<a href="/login/twitter" class="fa fa-twitter icon-border twitter"> </a>
					</li>
					<li>
						<a href="/login/google" class="fa fa-google-plus icon-border googleplus"> </a>
					</li>
				</ul>
            </div> -->
            <input type="submit" value="Change Password">
            <input type="button" value="Back To Home Page" onclick="window.location = '/'">
        </form>
    </div>
</div>
