<form method="post">
    <div>
        <label>Enter Your Email</label>
        <input type="email" name="user-email" placeholder="Enter Your Email">
    </div>
    <button type="submit">Send</button>
</form>
