{{> guest/nav}}
<form method="post">
    <div>
        <label>Email</label>
        <input type="text" name="user-email" placeholder="Email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="user-pass" placeholder="Password">
    </div>
    <button type="submit">Login</button>
</form>
<div>
    <a href="/register">Register</a>
</div>
<div>
    <a href="/forgot-pass">Forgot Password?</a>
</div>
<div>
    <a href="/login/facebook">Login with Facebook</a>
</div>
<div>
    <a href="/login/google">Login with Google</a>
</div>
