<div class="main-content-agile">
	<div class="wthree-pro">
		<h2>Register New User</h2>
	</div>
	<div class="sub-main-w3">
		<form id="submitter" method="post" enctype="multipart/form-data">
			<!-- Name -->
			<input placeholder="Name" name="user-name" type="text" required=""><BR><BR>
			<!-- <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span> -->
			<!-- Email -->
			<input placeholder="Email" name="user-email" type="email" required="">
			<!-- Password -->
			<input placeholder="Password" name="user-pass" type="password" minlength="6" required="">
			<!-- <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span> -->
			<!-- Password confirmation -->
			<input placeholder="Password Confirmation" name="user-pass-conf" type="password" minlength="6" required="">
			<!-- Picture -->
			<span class="profilePicture">
				<input accept="image/*" name="user-img" type="file">
			</span>
				<div class="clear"></div><BR>
			<!-- <div class="navbar-right social-icons">
				<ul>
					<li>
						<a href="/login/facebook" class="fa fa-facebook icon-border facebook"> </a>
					</li>
					<li>
						<a href="/login/twitter" class="fa fa-twitter icon-border twitter"> </a>
					</li>
					<li>
						<a href="/login/google" class="fa fa-google-plus icon-border googleplus"> </a>
					</li>
				</ul>
			</div> -->
			<input type="submit" value="Register">
			<input type="button" value="Back To Login" onclick="window.location = 'index.html'">
		</form>
	</div>
</div>
